api_version: proxy.otoroshi.io/v1
kind: Sidecar
metadata:
  name: my-sidecar
spec:
  kubernetes: false
  dns_integration: true
  dns_port: null
  dns_ns: null
  dns_domain: .otoroshi.mesh
  dns_ttl: null
  otoroshi:
    api_context_name: null
    location:
      hostname: otoroshi-api.oto.tools
      ip_addresses: null
      kubernetes:
        service: otoroshi-service
        namespace: otoroshi
      port: 9999
      tls: false
    routing_location:
      hostname: routing.oto.tools
      ip_addresses: null
      kubernetes:
        service: otoroshi-service
        namespace: otoroshi
      port: 9998
      tls: true
    credentials:
      client_id: admin-api-apikey-id
      client_secret: admin-api-apikey-secret
    client_cert:
      cert_location: /tmp/cert.pem
      cert_value: |
        ---- BEGIN CERTIFICATE -----
        xxxxxxxxxxxxxxxxxxx
        ---- END CERTIFICATE ----
      key_location: /tmp/cert.pem
      key_value: |
        ---- BEGIN PRIVATE KEY -----
        xxxxxxxxxxxxxxxxxxx
        ---- END PRIVATE KEY ----
      ca_location: null
      ca_value: null
  inbound:
    port: 15000
    target_port: 3000
    target_hostname: api-a.foo.bar
    target_version: null
    tls:
      enabled: true
      cert_id: Lkw5xxlo4FNBjFjqxU7DMzUKr3frGPqn
    mtls:
      enabled: true
      ca_cert_id: otoroshi-intermediate-ca
    otoroshi_protocol:
      enabled: true
      version: V2
      route_id: xxxx
      secret_in: null
      secret_out: null
      algo_in: null
      algo_out: null
      header_in_name: xxxx
      header_out_name: xxxx
  outbounds:
    port: 15001
    sidecar-outbound.otoroshi.mesh:
      hostname: sidecar-outbound.otoroshi.mesh
      path: /api/.*
      apikey:
        enabled: true
        apikey_id: apki_dev_ZOHqpXD1hGUoBXXB
      mtls:
        enabled: true
        client_cert_id: otoroshi-client
    service-b.otoroshi.mesh:
      hostname: service-b.otoroshi.mesh
      path: /.*
      apikey:
        enabled: true
        apikey_id: apki_dev_ZOHqpXD1hGUoBXXB
      mtls:
        enabled: true
        client_cert_id: otoroshi-client
